@import "tailwindcss";

/* Base styles */
body {
  overflow-x: hidden;
}

/* Navbar styles */
.navbar-fixed {
  position: fixed;
  width: 100%;
  z-index: 40;
  transition: all 0.3s ease;
}

.navbar-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.layer {
  pointer-events: none;
  z-index: 10;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

